
.btn-primary.override-bs {
    border-radius: 20px;
    margin-top: 8px;
    min-width: 100%;
}

.btn-primary.override-bs1 {
    border-radius: 20px;
    margin-top: 8px;
    background-color: white;
    color:black;
    outline: none;
    border-color: white;
}
.fa-cog {
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: black;
}

.fa-search{
    color: gray;
}