.wd-body-color {
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-color: rgb(47, 51, 54);
    font-family: helvetica, serif;
}

.wd-search-bar {
    padding: 16px;
    margin-top: 8px;
    margin-right: 12px;
    width: 85%;
    border-radius: 50px;
    display: flex;
}

.wd-search-bar .wd-input {
    width: 100%;
    padding: 12px 0 12px 0;
    border: none;
    border-radius: 0 50px 50px 0;
    font-size: 15px;
    background-color: darkgray;
    position: relative;
    outline: none;
    color: white;
}

::placeholder {
    color: white;
}

.wd-search-button {
    color: white;
    display: flex;
    padding: 15px;
    border-radius: 50px 0 0 50px;
    align-items: center;
    background-color: darkgray;
}

.wd-gear-button {
    color: white;
    display: flex;
    margin: 15px;
    align-items: center;
    position: absolute;
    right: 12px;
}

.wd-gear-button .fa-cog {
    -webkit-text-stroke-color: rgb(29, 161, 242);
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: black;
}

nav a {
    margin-left: 16px;
    color: rgb(110, 118, 125);
    display: inline-block;
    padding: 16px;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}

.wd-for-you {
    padding: 16px;
    display: inline-block;
    color: rgb(29, 161, 242);
    border-bottom-style: solid;
}

.wd-bar {
    border-top: 2px rgb(47, 51, 54);
    outline: none;
    border-style: solid;
}

.wd-greyBar{
    background-color: rgb(47, 51, 54);
    height: 5px;
}

.wd-suggestions {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(47, 51, 54);
    line-height: 22px;
    padding: 15px;
}

.wd-suggestions .wd-ellipsis .fa-ellipsis-h{
    color: white;
    font-size: 13px;
    text-align: right;
    position: absolute;
    right: 16px;
    top: 22%;
}

.wd-suggestions .fa-ellipsis-h{

    color: rgb(110, 118, 125);
    font-size: 13px;
    text-align: right;
    position: absolute;
    right: 16px;
}

.wd-suggestions .wd-topic {
    color: rgb(110, 118, 125);
    font-size: 13px;
    margin-bottom: 5px;
    padding-top: 5px;
}

.wd-suggestions .wd-title{
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 15px;
}

.wd-suggestions .wd-tweets{
    color: rgb(110, 118, 125);
    font-size: 13px;
}

.wd-times-logo{
    position: relative;
    width: 9px;
    height: 12px;
    align-items: center;
    top: 1px;
    right: 3px;
    bottom: 2px;
    border-radius: 100%;
    color: white;
    left: 3px;
}

.wd-bloom-logo{
    position: relative;
    width: 12px;
    height: 12px;
    top: 1px;
    right: 3px;
    bottom: 2px;
    border-radius: 100%;
    color: white;
    left: 3px;
}

.wd-suggestions .wd-author {
    color: white;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
    position: relative;
    left: 3px;
}

.wd-suggestions .fa-check-circle {
    color: white;
    position: relative;
    left: 3px;
}

.wd-suggestions .wd-picture{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    display: flex;
    margin-left: auto;
    margin-top: -30px;
}

.wd-suggestions .wd-timeStamp {
    color: rgb(110, 118, 125);
    font-size: 13px;
    margin-bottom: 5px;
    padding: 5px;
}
